.container {
  width : 400px;
}

/* Selected option */
.border {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgrey;
}

.selection {
  padding: 2px 10px;
  min-height: 26px;
}

/* Format selected options */
.tag {
  display: inline-block;
  margin-right: 10px;
  background-color: #dbdbdb;
  padding: 1px 8px;
  border-radius: 10px;
}

/* Icons */
.arrow {
  float: right;
}
.close {
  margin-left: 5px;
}
.icon:hover {
  background-color: lightgrey;
}

/* Options list */
.list{
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

li {
  padding: 2px 10px;
}
li:hover {
  background-color: #dbdbdb;
  padding: 2px 10px;
}

.check {
  margin-right: 10px;
}